In [1]:
# coding: utf-8
# наше всё
import numpy as np
import pandas as pd

#настройки pandas, с которыми лучше почти всегда
pd.set_option('display.max_rows', 45000)
pd.set_option('display.max_columns', 50000)
pd.set_option('display.max_colwidth', 5000)

import random

In [2]:
# 1 or 0 under propability
def get_rand(propability):
    import random
    base_random=random.randint(0, 9999)
    
    if float(base_random)<10000*propability:
        res=1
    else:
        res=0
    
    return res

In [3]:
# fuction test
n=100000
prop=0.994

rlst=[]
for i in range(n):
    rlst.append(get_rand(prop))

df=pd.DataFrame(rlst, columns=['rand'])
print('real probabilyhty is ', 100*np.sum(df[df['rand']==1]['rand'])/len(df), '%')

real probabilyhty is  99.388 %

In [26]:
# our citizens
class citizen():
    def __init__(
                 self, 
                 id=-1,
                 age=0,
                 gender='f',
                 parent1_id=-1,
                 parent2_id=-1,
                 couple_id=-1,
                 child_id_lst=[],
                 is_alive=1,
#                  glob_index=1
                ):
        global glob_index
        self.id=glob_index+1
        glob_index=glob_index+1
        
        self.age=0
        
        self.gender=random.choice(['f', 'm'])
                                  
        self.parent1_id=parent1_id
        self.parent2_id=parent2_id
        self.child_id_lst=child_id_lst
        self.is_alive=1
        self.couple_id=couple_id
        
    def print_to_df(self):
        df=pd.DataFrame(data=[self.__dict__.values()], columns=self.__dict__.keys())
        return df
        
    def death_case(self, death_propabilyty):
        if self.is_alive==1:
            self.is_alive=get_rand(1-death_propabilyty)
                  
    def find_case(self, find_propabilyty, population):
        if self.is_alive==1:
            if get_rand(find_propabilyty)==1:
                self.couple_id=find_couple(gender, population)
                
    def parent_case(self, parent_propabilyty):
        if self.is_alive==1:
            if get_rand(parent_propabilyty)==1:
                self.child_id_lst.append(101)

In [41]:
def find_couple(gender, population):
    import random
    candidates=[]
    for i in range(len(population)):
        if population[i].gender==gender:
            candidates.append(population[i].id)
    return random.choice(candidates)

In [50]:
main_lst[8].print_to_df()

     id  age gender  parent1_id  parent2_id child_id_lst  is_alive  couple_id
0  1016    0      f          -1          -1           []         1         -1

In [51]:
main_lst[8].find_case(0.9, main_lst)

NameError: name 'gender' is not defined

In [28]:
N=20
glob_index=1005

In [34]:
main_lst=[]
for i in range(N):
    new_citizen=citizen()
    main_lst.append(new_citizen)

In [39]:
def population_show(population):
    res_df=pd.DataFrame()
    for i in range(len(population)):
        b=population[i].print_to_df()
        res_df=pd.concat([res_df, b])
    return res_df

In [40]:
population_show(main_lst)

     id  age gender  parent1_id  parent2_id child_id_lst  is_alive  couple_id
0  1008    0      f          -1          -1           []         1         -1
0  1009    0      f          -1          -1           []         1         -1
0  1010    0      f          -1          -1           []         1         -1
0  1011    0      m          -1          -1           []         1         -1
0  1012    0      f          -1          -1           []         1         -1
0  1013    0      m          -1          -1           []         1         -1
0  1014    0      f          -1          -1           []         1         -1
0  1015    0      m          -1          -1           []         1         -1
0  1016    0      f          -1          -1           []         1         -1
0  1017    0      f          -1          -1           []         1         -1
0  1018    0      f          -1          -1           []         1         -1
0  1019    0      f          -1          -1           []         1         -1
0  1020    0      f          -1          -1           []         1         -1
0  1021    0      m          -1          -1           []         1         -1
0  1022    0      f          -1          -1           []         1         -1
0  1023    0      f          -1          -1           []         1         -1
0  1024    0      m          -1          -1           []         1         -1
0  1025    0      m          -1          -1           []         1         -1
0  1026    0      m          -1          -1           []         1         -1
0  1027    0      f          -1          -1           []         1         -1